.urna {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    height: 100%;
}

.container-chapas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    
    background: url('../images/elite-logo.png') center no-repeat;
    background-size: 150px;
    background-position-y: 30px;
}

.container-cod-chapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;

    background-color: rgba(128, 128, 128, 0.357);

    color: #141414;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.text-chapa {
    margin-top: 50px;

    color: #141414;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.logo-justica-titulo {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;

    height: 100vh;
    width: 100%;
}

.logo-justica-titulo-disabled {
    display: none;
}

.logo {
    width: 150px;
}

.titulo {
    margin-top: 15px;
}

.teclado {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

.logo-header-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 50px;
    height: 50px;
}

.titulo-header {
    font-size: 15px;
    text-align: center;
}

.btns {
    background-color: #141414;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    width: 100%;
    height: 100%;

    padding:10px;
}
.btn-teclado {
    width: 33%;
    height: 40px;
    
    margin-bottom:10px;
    
    color: white;
    font-size: 24px;
    font-weight: 900;
    
    background-color: #3b3b3b;
}
.confirm-teclado {
    display: flex;
    justify-content: space-between;
    align-items: end;

    gap: 15px;

    width: 100%;
}
.btns-confirm {
    width: 100%;
    height: 40px;

    color: #141414;
    font-size: 12px;
    font-weight: 700;

    border: none;

    padding: 10px;

    cursor: pointer;
}
.btn-branco {
    background-color: white;
}
.btn-corrigir {
    background-color: #f7a839;
}
.btn-confirmar {
    background-color: #329626;
}

.container-text-fim {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    font-size: 36px;
    font-weight: 900;
    color: #141414;

    position: absolute;

    height: 100vh;
    width: 100%;
}
.disabled {
    display: none;
}